{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}   
 <div id="lab8">
    <div class="intro">
        <br>
            <h1><img class="logo" src='https://ioufinancial.com/wp-content/uploads/2017/02/facebook.png' style="width:100px;margin-right:5px;"/>UNICORNFUR</h1><br>
            <h2 class="text-center">Integrated with Facebook<br>
                Be Connected. Be Discovered. Be on Facebook.</h2>
                <br>
                <br>
                <br>
            <button type="button" id="login-button" class="btn" onclick="facebookLogin()"><img class="logo" src="https://www.studytutorial.in/wp-content/uploads/2017/06/facebook-sign-in-button.png" style="width:200px;margin-right:10px;padding: 0px"  /></button>
        </div>
    </div>
{% endblock %}

