    {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <style type="text/css">
        .image{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin-left: 40%;
        }
    </style>
    <img class = "image" src= "http://i0.kym-cdn.com/photos/images/original/000/437/036/b64.png">
    <center><h1>PORTOFOLIO</h1></center>
    <hr/>
    <center><section name="bio">
        <h2>BIO</h2>
        <p>
            {{content}}
        </p>    
    </section></center>
    <hr/>
    <section name="about_me">
        <h2><center>LIST</center></h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <center><section name="form">
        <h2><center>Send Message</center></h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section></center>

    {% endblock %}
